resources/Meas.XSD

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:annotation>
		<xs:documentation>Contains entities that describe dynamic measurement data exchanged between applications.</xs:documentation>
	</xs:annotation>
	<xs:include schemaLocation="Domain.XSD"/>
	<xs:include schemaLocation="SCADA.XSD"/>
	<xs:include schemaLocation="Core.XSD"/>
	<xs:element name="DiscreteValue" type="DiscreteValue"/>
	<xs:complexType name="DiscreteValue">
		<xs:annotation>
			<xs:documentation>DiscreteValue represents a discrete MeasurementValue.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="MeasurementValue">
				<xs:sequence>
					<xs:element name="value" type="Integer" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The value to supervise.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ControlType" type="ControlType"/>
	<xs:complexType name="ControlType">
		<xs:annotation>
			<xs:documentation>Specifies the type of Control, e.g. BreakerOn/Off, GeneratorVoltageSetPoint, TieLineFlow etc. The ControlType.name shall be unique among all specified types and describe the type. The ControlType.aliasName is meant to be used for localization.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="IdentifiedObject">
				<xs:sequence>
					<xs:element name="Controls" type="Control" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>The controls having the control type.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="AccumulatorLimitSet" type="AccumulatorLimitSet"/>
	<xs:complexType name="AccumulatorLimitSet">
		<xs:annotation>
			<xs:documentation>An AccumulatorLimitSet specifies a set of Limits that are associated with an Accumulator measurement.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="LimitSet">
				<xs:sequence>
					<xs:element name="Limits" type="AccumulatorLimit" minOccurs="1" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>The limit values used for supervision of Measurements.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="SetPoint" type="SetPoint"/>
	<xs:complexType name="SetPoint">
		<xs:annotation>
			<xs:documentation>A SetPoint is an analog control used for supervisory control.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="Control">
				<xs:sequence>
					<xs:element name="maxValue" type="Float" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Normal value range maximum for any of the Control.value. Used for scaling, e.g. in bar graphs.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="minValue" type="Float" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Normal value range minimum for any of the Control.value. Used for scaling, e.g. in bar graphs.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="normalValue" type="Float" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Normal value for Control.value e.g. used for percentage scaling.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="value" type="Float" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The value representing the actuator output.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Quality61850" type="Quality61850"/>
	<xs:complexType name="Quality61850">
		<xs:annotation>
			<xs:documentation>Quality flags in this class are as defined in IEC 61850, except for estimatorReplaced, which has been included in this class for convenience.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="badReference" type="Boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Measurement value may be incorrect due to a reference being out of calibration.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="estimatorReplaced" type="Boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Value has been replaced by State Estimator. estimatorReplaced is not an IEC61850 quality bit but has been put in this class for convenience.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="failure" type="Boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This identifier indicates that a supervision function has detected an internal or external failure, e.g. communication failure.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="oldData" type="Boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Measurement value is old and possibly invalid, as it has not been successfully updated during a specified time interval.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="operatorBlocked" type="Boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Measurement value is blocked and hence unavailable for transmission. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="oscillatory" type="Boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>To prevent some overload of the communication it is sensible to detect and suppress oscillating (fast changing) binary inputs. If a signal changes in a defined time (tosc) twice in the same direction (from 0 to 1 or from 1 to 0) then oscillation is detected and the detail quality identifier "oscillatory" is set. If it is detected a configured numbers of transient changes could be passed by. In this time the validity status "questionable" is set. If after this defined numbers of changes the signal is still in the oscillating state the value shall be set either to the opposite state of the previous stable value or to a defined default value. In this case the validity status "questionable" is reset and "invalid" is set as long as the signal is oscillating. If it is configured such that no transient changes should be passed by then the validity status "invalid" is set immediately in addition to the detail quality identifier "oscillatory" (used for status information only).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="outOfRange" type="Boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Measurement value is beyond a predefined range of value.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="overFlow" type="Boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Measurement value is beyond the capability of being  represented properly. For example, a counter value overflows from maximum count back to a value of zero. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="source" type="Source" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Source gives information related to the origin of a value. The value may be acquired from the process, defaulted or substituted.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="suspect" type="Boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>A correlation function has detected that the value is not consitent with other values. Typically set by a network State Estimator.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="test" type="Boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Measurement value is transmitted for test purposes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="validity" type="Validity" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Validity of the measurement value.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="StringMeasurement" type="StringMeasurement"/>
	<xs:complexType name="StringMeasurement">
		<xs:annotation>
			<xs:documentation>StringMeasurement represents a measurement with values of type string.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="Measurement">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Accumulator" type="Accumulator"/>
	<xs:complexType name="Accumulator">
		<xs:annotation>
			<xs:documentation>Accumulator represents a accumulated (counted) Measurement, e.g. an energy value.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="Measurement">
				<xs:sequence>
					<xs:element name="maxValue" type="Integer" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Normal value range maximum for any of the MeasurementValue.values. Used for scaling, e.g. in bar graphs or of telemetered raw values.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AccumulatorValues" type="AccumulatorValue" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>The values connected to this measurement.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LimitSets" type="AccumulatorLimitSet" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>A measurement may have zero or more limit ranges defined for it.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Control" type="Control"/>
	<xs:complexType name="Control">
		<xs:annotation>
			<xs:documentation>Control is used for supervisory/device control. It represents control outputs that are used to change the state in a process, e.g. close or open breaker, a set point value or a raise lower command.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="IdentifiedObject">
				<xs:sequence>
					<xs:element name="operationInProgress" type="Boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Indicates that a client is currently sending control commands that has not completed.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="timeStamp" type="DateTime" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The last time a control output was sent.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="unitMultiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The unit multiplier of the controlled quantity.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="unitSymbol" type="UnitSymbol" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The unit of measure of the controlled quantity.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Discrete" type="Discrete"/>
	<xs:complexType name="Discrete">
		<xs:annotation>
			<xs:documentation>Discrete represents a discrete Measurement, i.e. a Measurement reprsenting discrete values, e.g. a Breaker position.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="Measurement">
				<xs:sequence>
					<xs:element name="maxValue" type="Integer" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Normal value range maximum for any of the MeasurementValue.values. Used for scaling, e.g. in bar graphs or of telemetered raw values.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="minValue" type="Integer" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Normal value range minimum for any of the MeasurementValue.values. Used for scaling, e.g. in bar graphs or of telemetered raw values.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="normalValue" type="Integer" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Normal measurement value, e.g., used for percentage calculations.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Command" type="Command" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The Control variable associated with the Measurement.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DiscreteValues" type="DiscreteValue" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>The values connected to this measurement.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="AccumulatorLimit" type="AccumulatorLimit"/>
	<xs:complexType name="AccumulatorLimit">
		<xs:annotation>
			<xs:documentation>Limit values for Accumulator measurements.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="Limit">
				<xs:sequence>
					<xs:element name="value" type="Integer" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The value to supervise against. The value is positive.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="AnalogLimitSet" type="AnalogLimitSet"/>
	<xs:complexType name="AnalogLimitSet">
		<xs:annotation>
			<xs:documentation>An AnalogLimitSet specifies a set of Limits that are associated with an Analog measurement.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="LimitSet">
				<xs:sequence>
					<xs:element name="Limits" type="AnalogLimit" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>The limit values used for supervision of Measurements.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ValueToAlias" type="ValueToAlias"/>
	<xs:complexType name="ValueToAlias">
		<xs:annotation>
			<xs:documentation>Describes the translation of one particular value into a name, e.g. 1 as "Open".</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="IdentifiedObject">
				<xs:sequence>
					<xs:element name="value" type="Integer" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The value that is mapped.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="StringMeasurementValue" type="StringMeasurementValue"/>
	<xs:complexType name="StringMeasurementValue">
		<xs:annotation>
			<xs:documentation>StringMeasurementValue represents a measurement value of type string.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="MeasurementValue">
				<xs:sequence>
					<xs:element name="value" type="String" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The value to supervise.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="StringMeasurement" type="StringMeasurement" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Measurement to which this value is connected.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="Validity">
		<xs:annotation>
			<xs:documentation>Validity for MeasurementValue.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="GOOD">
				<xs:annotation>
					<xs:documentation>The value is marked good if no abnormal condition of the acquisition function or the information source is detected.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="QUESTIONABLE">
				<xs:annotation>
					<xs:documentation>The value is marked questionable if a supervision function detects an abnormal behaviour, however the value could still be valid. The client is responsible for determining whether or not values marked "questionable" should be used.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="INVALID">
				<xs:annotation>
					<xs:documentation>The value is marked invalid when a supervision function recognises abnormal conditions of the acquisition function or the information source (missing or non-operating updating devices). The value is not defined under this condition. The mark invalid is used to indicate to the client that the value may be incorrect and shall not be used.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="AnalogLimit" type="AnalogLimit"/>
	<xs:complexType name="AnalogLimit">
		<xs:annotation>
			<xs:documentation>Limit values for Analog measurements.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="Limit">
				<xs:sequence>
					<xs:element name="value" type="Float" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The value to supervise against.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="MeasurementValueSource" type="MeasurementValueSource"/>
	<xs:complexType name="MeasurementValueSource">
		<xs:annotation>
			<xs:documentation>MeasurementValueSource describes the alternative sources updating a MeasurementValue. User conventions for how to use the MeasurementValueSource attributes are described in the introduction to IEC 61970-301.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="IdentifiedObject">
				<xs:sequence>
					<xs:element name="MeasurementValues" type="MeasurementValue" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>The MeasurementValues updated by the source.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Command" type="Command"/>
	<xs:complexType name="Command">
		<xs:annotation>
			<xs:documentation>A Command is a discrete control used for supervisory control.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="Control">
				<xs:sequence>
					<xs:element name="normalValue" type="Integer" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Normal value for Control.value e.g. used for percentage scaling.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="value" type="Integer" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The value representing the actuator output.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ValueAliasSet" type="ValueAliasSet" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The Commands using the set for translation.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Measurement" type="Measurement"/>
	<xs:complexType name="Measurement">
		<xs:annotation>
			<xs:documentation>A Measurement represents any measured, calculated or non-measured non-calculated quantity. Any piece of equipment may contain Measurements, e.g. a substation may have temperature measurements and door open indications, a transformer may have oil temperature and tank pressure measurements, a bay may contain a number of power flow measurements and a Breaker may contain a switch status measurement. 
The PSR - Measurement association is intended to capture this use of Measurement and is included in the naming hierarchy based on EquipmentContainer. The naming hierarchy typically has Measurements as leafs, e.g. Substation-VoltageLevel-Bay-Switch-Measurement.
Some Measurements represent quantities related to a particular sensor location in the network, e.g. a voltage transformer (PT) at a busbar or a current transformer (CT) at the bar between a breaker and an isolator. The sensing position is not captured in the PSR - Measurement association. Instead it is captured by the Measurement - Terminal association that is used to define the sensing location in the network topology. The location is defined by the connection of the Terminal to ConductingEquipment. 
If both a Terminal and PSR are associated, and the PSR is of type ConductingEquipment, the associated Terminal should belong to that ConductingEquipment instance.
When the sensor location is needed both Measurement-PSR and Measurement-Terminal are used. The Measurement-Terminal association is never used alone.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="IdentifiedObject">
				<xs:sequence>
					<xs:element name="measurementType" type="String" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Specifies the type of measurement.  For example, this specifies if the measurement represents an indoor temperature, outdoor temperature, bus voltage, line flow, etc.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="phases" type="PhaseCode" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Indicates to which phases the measurement applies and avoids the need to use 'measurementType' to also encode phase information (which would explode the types). Since Controls have associations with Measurements, they will have the capability to handle each phase. The phase information in Measurement, along with 'measurementType' and 'phases' uniquely defines a Measurement for a device, based on normal network phase. Their meaning will not change when the computed energizing phasing is changed due to jumpers or other reasons.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="unitMultiplier" type="UnitMultiplier" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The unit multiplier of the measured quantity.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="unitSymbol" type="UnitSymbol" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The unit of measure of the measured quantity.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Terminal" type="ACDCTerminal" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>One or more measurements may be associated with a terminal in the network.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Analog" type="Analog"/>
	<xs:complexType name="Analog">
		<xs:annotation>
			<xs:documentation>Analog represents an analog Measurement.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="Measurement">
				<xs:sequence>
					<xs:element name="maxValue" type="Float" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Normal value range maximum for any of the MeasurementValue.values. Used for scaling, e.g. in bar graphs or of telemetered raw values.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="minValue" type="Float" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Normal value range minimum for any of the MeasurementValue.values. Used for scaling, e.g. in bar graphs or of telemetered raw values.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="normalValue" type="Float" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Normal measurement value, e.g., used for percentage calculations.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="positiveFlowIn" type="Boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>If true then this measurement is an active power, reactive power or current with the convention that a positive value measured at the Terminal means power is flowing into the related PowerSystemResource.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="AnalogValues" type="AnalogValue" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>The values connected to this measurement.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LimitSets" type="AnalogLimitSet" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>A measurement may have zero or more limit ranges defined for it.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SetPoint" type="SetPoint" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The Control variable associated with the Measurement.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ValueAliasSet" type="ValueAliasSet"/>
	<xs:complexType name="ValueAliasSet">
		<xs:annotation>
			<xs:documentation>Describes the translation of a set of values into a name and is intendend to facilitate cusom translations. Each ValueAliasSet has a name, description etc. A specific Measurement may represent a discrete state like Open, Closed, Intermediate etc. This requires a translation from the MeasurementValue.value number to a string, e.g. 0-&gt;"Invalid", 1-&gt;"Open", 2-&gt;"Closed", 3-&gt;"Intermediate". Each ValueToAlias member in ValueAliasSet.Value describe a mapping for one particular value to a name.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="IdentifiedObject">
				<xs:sequence>
					<xs:element name="Values" type="ValueToAlias" minOccurs="1" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>The ValueToAlias mappings included in the set.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Discretes" type="Discrete" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>The Measurements using the set for translation.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="LimitSet" type="LimitSet"/>
	<xs:complexType name="LimitSet">
		<xs:annotation>
			<xs:documentation>Specifies a set of Limits that are associated with a Measurement. A Measurement may have several LimitSets corresponding to seasonal or other changing conditions. The condition is captured in the name and description attributes. The same LimitSet may be used for several Measurements. In particular percentage limits are used this way.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="IdentifiedObject">
				<xs:sequence>
					<xs:element name="isPercentageLimits" type="Boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Tells if the limit values are in percentage of normalValue or the specified Unit for Measurements and Controls.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="MeasurementValueQuality" type="MeasurementValueQuality"/>
	<xs:complexType name="MeasurementValueQuality">
		<xs:annotation>
			<xs:documentation>Measurement quality flags. Bits 0-10 are defined for substation automation in draft IEC 61850 part 7-3. Bits 11-15 are reserved for future expansion by that document. Bits 16-31 are reserved for EMS applications.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="Quality61850">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="MeasurementValue" type="MeasurementValue"/>
	<xs:complexType name="MeasurementValue">
		<xs:annotation>
			<xs:documentation>The current state for a measurement. A state value is an instance of a measurement from a specific source. Measurements can be associated with many state values, each representing a different source for the measurement.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="IdentifiedObject">
				<xs:sequence>
					<xs:element name="sensorAccuracy" type="PerCent" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The limit, expressed as a percentage of the sensor maximum, that errors will not exceed when the sensor is used under  reference conditions.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="timeStamp" type="DateTime" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The time when the value was last updated</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="RemoteSource" type="RemoteSource" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Link to the physical telemetered point associated with this measurement.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="MeasurementValueQuality" type="MeasurementValueQuality" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>A MeasurementValue has a MeasurementValueQuality associated with it.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="AnalogValue" type="AnalogValue"/>
	<xs:complexType name="AnalogValue">
		<xs:annotation>
			<xs:documentation>AnalogValue represents an analog MeasurementValue.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="MeasurementValue">
				<xs:sequence>
					<xs:element name="value" type="Float" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The value to supervise.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="AccumulatorValue" type="AccumulatorValue"/>
	<xs:complexType name="AccumulatorValue">
		<xs:annotation>
			<xs:documentation>AccumulatorValue represents an accumulated (counted) MeasurementValue.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="MeasurementValue">
				<xs:sequence>
					<xs:element name="value" type="Integer" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>The value to supervise. The value is positive.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Limit" type="Limit"/>
	<xs:complexType name="Limit">
		<xs:annotation>
			<xs:documentation>Specifies one limit value for a Measurement. A Measurement typically has several limits that are kept together by the LimitSet class. The actual meaning and use of a Limit instance (i.e., if it is an alarm or warning limit or if it is a high or low limit) is not captured in the Limit class. However the name of a Limit instance may indicate both meaning and use.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="IdentifiedObject">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
